---
---

@import "{{ site.theme }}";

.page-header {
  background-image: linear-gradient(120deg, #030D5F, #7C684B);
  padding: 2.5rem 0 2.5rem; /* Superior/inferior | Laterales (se ignoran/heredan) */
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4 {
    color: #7C684B;
  }

.site-footer {
  background-image: linear-gradient(120deg, #030D5F, #7C684B);
  padding: 1.5rem 0 1.5rem;
  span {
    color: white;
  }
  a {
    color: rgb(247, 213, 150);
  }
 
}

